/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%; /* 16px */
  }

#Addmission{
  background: purple;
  color: white;
  font-weight: 500;
  height: 30px;
}
.callus{
  text-align: center;
}
.link-icon{
  display: flex;
  list-style: none;
  gap: 7px;
  justify-content: end;
  padding-right: 20px;
}
.link-icon a{
  font-size: larger;
  color: white;
  text-decoration: none;
}
a{
  text-decoration: none;
  color: white;
}

/* .school-name{
  text-align: left;
} */

.school-name, h5{
  padding-top: 25px;
  text-align: center;
  color: purple;
}
.address{
  text-align: center;
}
.location-logo{
  color: purple;
  font-size: x-large;
}
.address{
  color: purple;
}
.menubar-icon{
  background: purple;
}
.menu-bar-bg{
background: purple;
}
.nav-link{
color: white;
}


.carousel-item{
  object-fit: contain;
  height: 600px;
}
#my-para, h1{
  color: rgb(100, 2, 100);
  line-height: 25px;
  font-weight: 500px;
}
#wlc{
  line-height: 35px;
  font-weight: 700px;
}
button{
  border: none;
  background: purple;
  color: white;
  padding: 10px;
  border-radius: 18px;
}
.wlc-img{
  box-shadow: rgba(11, 1, 14, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;;
}

.bg-img{
  background-image: url();
}